<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I've been working as a professional software developer since February 2018, mostly maintaining and extending the ERP system 
            for a local Columbus manufacturing company. I've found that I have a specialty for refactoring and simplifying existing logic, 
            and a strong sense of good and bad practices in the technical scope as well as in that of team functionality and process. 
            Additionally, I'm sharpening my utilization of practical testing patterns to improve the stability and scalability of my products.
        </p>
        <p>
            I'm always interested to expand and challenge my knowledge, whether that's just working with a new stack, 
            or learning something I didn't know about a familiar concept. I would like to spend more time with mentorship, 
            both as a mentee and a mentor myself, and hope that might lead to more knowledge and understanding of Dev Ops proficiencies,
            among other things. Give me an interesting problem, some good people, opportunity for growth, and let's make some cool stuff.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Architected a rapid scalable solution to allow business to continue to expand and operate from multiple new
            physical premises during a time of unprecedented growth.
    			</li>
          <li>
            Designed and delivered a new solution for visibility of inventory data which answered an initial request along with a host of new functionalities, 
            and improved performance/stability. Additionally, conceived and implemented an architectural pattern to better-encapsulate some service client usage.
          </li>
          <li>
            "Drank from the firehose" to implement one of the more complicated operational solutions being utilized by the business, which automated hours of daily user
            time away and brought insight to the complexity of those particular processes.
          </li>
    			<li>
            Packaged up an algorithmic solution design for the allocation of material parts to their assemblies, based on lead time, for deployment
            as a background transaction-level process, saving potentially hundreds of thousands of dollars a year due to increased accuracy.
    			</li>
    			<!-- <li>
            Constant advocate for good team processes and clarity within the SDLC. Laid the groundwork for my team to communicate more effectively with stakeholders in the acquisition
            of requirements and balancing of timeline and scope of projects. Led this effort by example, despite being "outranked".
    			</li> -->
		    </ul>
	    </div>
    </div>
  </div>
</section>
