<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
				<li>
					<b>Mountain Biking</b>. The best feedback loop for adventure, fitness, and endorphins that I've found.
					Over the last few years it's become one of life's great pleasures and is the focus of a number of lifestyle goals, 
					including my family's potential relocation.
				</li>
				<li>
					<b>Coding</b>, as well as software development as a whole practice. I would like to know everything, and am thrilled
					to be in a career where learning new things is so critical. To have my daily work be something that I find so satisfying
					truly feels like a privilege. I look forward not just to the coding, but to the creativity and collaboration that
					it inspires.
				</li>
				<li>
					<b>Soccer</b>. The beautiful game, after all. This game provided my first experience of satisfaction, and gave me an appreciation 
					for what good team communication can achieve. A skillful player can make for some great moments and can even carry a team at times,
					but a strong team, as a unit, is what wins championships. The greatest things we do, we do together.
				</li>
				<li>
					<b>Gaming</b>. Pass-time, community-building, storytelling, puzzle-solving, reality retreat. The stimulating activity
					helping to hold the human psyche together in the modern world.
				</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				RogueApps (Manufacturing) is an ERP system. Used internally by over 1000 employees, it's a custom C# web app utlizing some legacy ASP.NET MVC patterns, 
				with some newer implementations of Vue.js and API services, layered on top of custom Microsoft Dynamics AX 2012 X++ services.
				RogueApps provides financial reporting, inventory management, production planning, supply chain information, and more, 
				by bridging data between a few different back-end systems for consumption by users all across the company.
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Father to a one-year old daughter.
  			</li>
  			<li>
  			  	Bicycles and bike tinkering in general.
			</li>
			<li>
				Hoping to relocate with my family to somewhere along the Blue Ridge mountains in the coming years.
		  	</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
